# Archivos autocad
*.bak
*.dwl
*.dwl2

# Archivos compilación latex
*.aux
*.lof
*.lomycapequ
*.lot
*.out
*.synctex.*
*.toc
*.log
*.lol
*.bbl
*.blg

# Archivos ETABS
*.$et
*.ebk
*.tlog
*.ico

# Archivos de windows
*desktop.ini

# Archivos residuales de word/excel
*$*.doc*
*$*.xls*